In [1]:
pip install lxml bs4 html5lib

Requirement already satisfied: lxml in /Users/yuanzhong/opt/anaconda3/lib/python3.9/site-packages (4.6.3)
Requirement already satisfied: bs4 in /Users/yuanzhong/opt/anaconda3/lib/python3.9/site-packages (0.0.1)
Requirement already satisfied: html5lib in /Users/yuanzhong/opt/anaconda3/lib/python3.9/site-packages (1.1)
Requirement already satisfied: beautifulsoup4 in /Users/yuanzhong/opt/anaconda3/lib/python3.9/site-packages (from bs4) (4.10.0)
Requirement already satisfied: six>=1.9 in /Users/yuanzhong/opt/anaconda3/lib/python3.9/site-packages (from html5lib) (1.16.0)
Requirement already satisfied: webencodings in /Users/yuanzhong/opt/anaconda3/lib/python3.9/site-packages (from html5lib) (0.5.1)
Requirement already satisfied: soupsieve>1.2 in /Users/yuanzhong/opt/anaconda3/lib/python3.9/site-packages (from beautifulsoup4->bs4) (2.2.1)
Note: you may need to restart the kernel to use updated packages.

In [2]:
# Dependencies

from bs4 import BeautifulSoup

from splinter import Browser

import requests

from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd
import pymongo

In [3]:
executable_path = {'executable_path': ChromeDriverManager().install()}

browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 98.0.4758
Get LATEST chromedriver version for 98.0.4758 google-chrome
Trying to download new driver from https://chromedriver.storage.googleapis.com/98.0.4758.80/chromedriver_mac64.zip
Driver has been saved in cache [/Users/yuanzhong/.wdm/drivers/chromedriver/mac64/98.0.4758.80]

In [4]:
# URL of page to be scraped

news_url = 'https://redplanetscience.com/'

 

browser.visit(news_url)

In [5]:
html = browser.html

soup = BeautifulSoup(html, 'html.parser')

In [6]:
news_title=soup.find_all('div', class_='content_title')[0].text


news_paragraph=soup.find_all('div',class_='article_teaser_body')[0].text
print(news_title)
print(news_paragraph)

8 Martian Postcards to Celebrate Curiosity's Landing Anniversary
The NASA rover touched down eight years ago, on Aug. 5, 2012, and will soon be joined by a second rover, Perseverance.

In [7]:

image_url ='https://spaceimages-mars.com/'

browser.visit(image_url)
html = browser.html

soup = BeautifulSoup(html, 'html.parser')

In [8]:
# featured_image_url=soup.find_all('img',class_='headerimage fade-in')['href']


# # featured_image_url_1=url+featured_image_url
# featured_image_url
# print(featured_image_url_1)
# image_url ='https://spaceimages-mars.com/'

# browser.visit(image_url)
# html = browser.html

# soup = BeautifulSoup(html, 'html.parser')
# html = browser.html

image=soup.find_all('a', class_='showimg fancybox-thumbs')
featured_image_url=image_url+image[0].get('href')
featured_image_url
# for item in image:
#     print(item)
# eatured_image_url=image['href']
# featured_image_url=image_url+link
# featured_image_url
print(featured_image_url)

https://spaceimages-mars.com/image/featured/mars1.jpg

In [9]:

mars_table_url ='https://space-facts.com/mars/'

mars_table = pd.read_html(mars_table_url)
mars_table=mars_table[0]
mars_table

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [10]:
earth_table_url='https://space-facts.com/earth/'
earth_table = pd.read_html(earth_table_url)
earth_table=earth_table[0]
earth_table

                      0                      1
0  Equatorial Diameter:              12,756 km
1       Polar Diameter:              12,714 km
2                 Mass:        5.97 × 10^24 kg
3                Moons:           1 (The Moon)
4       Orbit Distance:  149,598,262 km (1 AU)
5         Orbit Period:            365.24 days
6  Surface Temperature:            -88 to 58°C

In [15]:
joined_table=pd.merge(mars_table, earth_table, how='inner', on=0)
joined_table.columns = ['Description', 'Mars','Earth']
joined_table.set_index('Description')
joined_table=joined_table.set_index('Description')
joined_table

                                               Mars                  Earth
Description
Equatorial Diameter:                       6,792 km              12,756 km
Polar Diameter:                            6,752 km              12,714 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)        5.97 × 10^24 kg
Moons:                          2 (Phobos & Deimos)           1 (The Moon)
Orbit Distance:            227,943,824 km (1.38 AU)  149,598,262 km (1 AU)
Orbit Period:                  687 days (1.9 years)            365.24 days
Surface Temperature:                   -87 to -5 °C            -88 to 58°C

In [16]:
html_table= joined_table.to_html()
print(html_table)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Mars</th>
      <th>Earth</th>
    </tr>
    <tr>
      <th>Description</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Equatorial Diameter:</th>
      <td>6,792 km</td>
      <td>12,756 km</td>
    </tr>
    <tr>
      <th>Polar Diameter:</th>
      <td>6,752 km</td>
      <td>12,714 km</td>
    </tr>
    <tr>
      <th>Mass:</th>
      <td>6.39 × 10^23 kg (0.11 Earths)</td>
      <td>5.97 × 10^24 kg</td>
    </tr>
    <tr>
      <th>Moons:</th>
      <td>2 (Phobos &amp; Deimos)</td>
      <td>1 (The Moon)</td>
    </tr>
    <tr>
      <th>Orbit Distance:</th>
      <td>227,943,824 km (1.38 AU)</td>
      <td>149,598,262 km (1 AU)</td>
    </tr>
    <tr>
      <th>Orbit Period:</th>
      <td>687 days (1.9 years)</td>
      <td>365.24 days</td>
    </tr>
    <tr>
      <th>Surface Temperature:</th>
      <td>-87 to -5 °C</td>
      <td>-88 to 58°C</td>
    </tr>
  </tbody>
</table>

In [13]:
image_url_1='https://marshemispheres.com/'
browser.visit(image_url_1)
html = browser.html

soup = BeautifulSoup(html,'html.parser')

In [14]:
images=soup.find_all('img', class_='thumb')
titles=soup.find_all('h3')



img_urls=[]
title_list=[]
hemisphere_image= {}
               

for i in range(4):
    image_url=image_url_1+images[i].get('src')
  
    img_urls.append(image_url)
    title_list.append(titles[i].get_text())


hemisphere_image= {
                "title": title_list,
               "img_url": img_urls
            }

hemisphere_image

{'title': ['Cerberus Hemisphere Enhanced',
  'Schiaparelli Hemisphere Enhanced',
  'Syrtis Major Hemisphere Enhanced',
  'Valles Marineris Hemisphere Enhanced'],
 'img_url': ['https://marshemispheres.com/images/39d3266553462198bd2fbc4d18fbed17_cerberus_enhanced.tif_thumb.png',
  'https://marshemispheres.com/images/08eac6e22c07fb1fe72223a79252de20_schiaparelli_enhanced.tif_thumb.png',
  'https://marshemispheres.com/images/55a0a1e2796313fdeafb17c35925e8ac_syrtis_major_enhanced.tif_thumb.png',
  'https://marshemispheres.com/images/4e59980c1c57f89c680c0e1ccabbeff1_valles_marineris_enhanced.tif_thumb.png']}